<div class="container">
    <div id="result">

        <div *ngIf="result === 'win'">
            <p>You Won!</p>
        </div>
        <div *ngIf="result === 'lost'">
            <p>You Lost</p>
        </div>
        <div *ngIf="result === 'draw'">
            <p>Draw</p>
        </div>

    </div>

    <div id="board">

        <div *ngFor="let row of board" class="row">
            <div *ngFor="let cell of row" class="tile" (click)="onClick(cell)">

                <div *ngIf="(cell.length < 2)" class="icon">{{cell}}</div>

            </div>
        </div>

    </div>

</div>